

.textField {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    margin-bottom: -8px;
    margin-right: 5px;
    color: #9b25fc;
}

.textFieldValue {
    font-weight: 400;
    font-style: italic;
}

.imageTitles {
    text-align: center;
    color: blue;
}

.title {
    margin-bottom: 12px;
    padding: 12px 16px;
    font-size: 32px;
    text-align: center;
    border-radius: 8px;
    background-color: grey;
    color: blue;
}

.planeTitle {
    composes: title;
        background-color: yellow;
}

h3 {
    position: relative;
}

.numberOfModels {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    position: absolute;
    top: 30%;
    right: 40px;
    outline: 2px solid #ff5119;
    border-radius: 50%;
}

.biplaneTitle {
    composes: title;
    background-color: #f59aa9;
}

.helicopterTitle {
    composes: title;
    background-color: #9accf5;
}

.but {
    width: 70%;
    margin: 20px auto;
    padding: 16px 32px;
    display: inline-block;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow";
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.9);
}

.disabled {
    background-color: gray;
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
}

.red {
    background-color: rgb(128, 30, 30);
}

/** Підсвічування тексту */
.highlight {
    background-color: yellow;
    font-weight: bold;
    color: #000;
    border-radius: 3px;
    padding: 0 2px;
}

.but:disabled {
    background-color: grey;
    color: darkgray;
}